
#swiper {
  width: 100%;
  height: 100%;
  margin: 0  auto;
  // pages
  .swiper-container {
    height: 100%;
    width: 100%;

    .swiper-wrapper {
      transition-timing-function: ease-in !important;

      .swiper-slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .swiper-slide1 {
        background-color: #fafafa;

        .first{
          color: #fafafa;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          margin: 0 auto;
          display: block;

          .el-container{
            height: 100%;
            // margin: 0 auto;
            .header {
              width: 100%;
              padding: 0;
              height: 3.5rem !important; // 修复elementUIheader组件默认的60px
              background-color: rgba(0, 0, 0, 0.7);
              display: inline-block;

              .header-top {
                width: 100%;
                height: 3.5rem;

                .header-main {
                  .header-item {
                    display: flex;
                    background-color: gold;
                  }

                  .logo-container {
                    align-items: center;
                    justify-content: flex-end;

                  }

                  .console-container {
                    justify-content: center;
                    align-content: center;
                    .console-icon {
                      line-height: 3.5rem;
                    }
                  }

                  .header-logo {
                    height: 3.5rem;
                    float: left;
                    width: 12.5rem;
                    line-height: 3.5rem;

                    img {
                      width: 10rem;
                      height: auto;
                    }

                    height: 3.5rem;
                  }

                  // header-nav and header-tools
                  .header-nav,
                  .header-tools {
                    background-color: khaki;
                    ul.el-menu {
                      height: 3.5rem;
                      border: 0;

                      li.el-menu-item {
                        height: 3.5rem;
                        font-size: 1rem;
                        font-weight: bolder
                      }
                      .el-menu-item:hover {
                        background-color: rgba(255, 255, 255, 0) !important;
                      }
                    }
                  }

                  // header-nav
                  .header-nav {
                    float: left;
                    height: 3.5rem;
                    width: auto;

                    // .el-dropdown-menu__item--divided:before,
                    // .el-menu,
                    // .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
                    // .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
                    // .el-menu--horizontal>.el-submenu .el-submenu__title:hover {
                    //   background-color: red !important;
                    // }
                  }

                  // header-tools
                  .header-tools {
                    width: auto;
                    justify-content: flex-end;
                    l.el-menu--horizontal {
                      .el-menu-item{
                        a{
                        border: 1px solid white;
                        }
                      }
                    }
                    // 去掉elementUI默认的下滑条
                    ul.el-menu--horizontal > .el-menu-item.is-active {
                      border: 0;
                    }
                    ul.el-menu--horizontal > .el-menu-item {
                      border: 0;
                    }
                    ul.el-menu--horizontal {
                      & > :last-child {
                        a {
                          display: inline-block;
                          width: 3rem;
                          height: 2rem;
                          line-height: 2rem;
                          border: 1px solid white;
                          border-radius: 0.5rem;
                        }
                      }
                    }
                    // .el-menu--horizontal>.el-menu-item:hover{
                    //   background-color: rgba(255,255,255,0) !important;
                    // }
                  }

                }
              }
            }
          }

          // content
          .content{
            display: block;
            padding: 0;
            width: 100%;
            height: 100%;

            .content-container {
              width: 75rem;
              height: 100%;
              display: inline-block;
              position: relative;

              .content-title {
                height: 10rem;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                line-height: 10rem;
                span {
                  display: inline-block;
                  font-size: 7.5em;
                }
              }

            }
          }
        }
      }

      // solution
      .swiper-slide2 {
        background-color: #fafafa;
        width: 100%;
        height: 100%;

        .solution {
          height: 100%;

          .solution-container {
            width: 75rem;
            height: 100%;
            display: inline-block;

            .solution-title {
              height: 12rem;
              position: relative;
              .solution-title-container{
                width: 100%;
                height: 3rem;
                position: absolute;
                top: 0;bottom:0;
                left: 0; right: 0;
                margin: auto;
                & > :nth-child(1){
                  font-size: 3rem;
                }
                & > :nth-child(2){
                  font-size: 1.15em;
                  margin-top: 0.8em;
                }
              }

            }

            .solution-introduce {
              width: 100%;
              height: calc(100% - 12rem);
              margin: 2rem 0;

              .el-carousel{
                width: 100%;
                height: 100%;

                .el-carousel__container{
                  position: relative;
                  .el-carousel__item{
                    background-color: #fafafa; /* 图片加载过程中显示背景色*/
                    background-position: center center; /* 背景图垂直水平居中*/
                    background-repeat: no-repeat;
                    background-size: 200%; /* 基于容器大小伸缩*/
                    transition: all 0.5s ease-in-out;

                    & >:hover{
                      background-color: rgba(0, 0, 0, 0.3);
                      transform: scale(1.2)
                    }
                    &:hover{
                      background-size: 67rem;
                    }

                    // img{
                    //   transition: all 0.5s;
                    // }
                    .solution-shade {
                      width: 100%;
                      height: 100%;
                      color: #fafafa;
                      position: relative;
                      transition: all 0.5s;

                      // &:hover {
                      //   background-color: rgba(0, 0, 0, 0.2);
                      //   transform: scale(1.5);
                      // }
                      p{
                        height: 2em;
                        line-height: 2em;
                        font-size: 3em;
                        display: inline-block;
                        position: absolute;
                        top: 0; bottom: 0;
                        left: 0; right: 0;
                        margin: auto;
                      }

                    }
                  }
                }
              }

            }
          }
        }
      }

      // footer
      .swiper-footer {
        background-color: darkgoldenrod;

        .el-container {
          height: 100%;
          .el-main {
            height: calc(100% - 5rem);
            background-color: lemonchiffon;

          }

          .el-footer {
            height: 5rem;
            background-color: sienna;
          }
        }
      }
    }

    // swiper 小圆点定位
    .swiper-pagination {
      width: 1rem;
      height: auto;
      display: block;
      position: absolute;
      right: 1rem;

      & > :nth-child(n) {
        border: 1px solid rgba(255, 255, 255, 1);
        width: 1rem !important;
        height: 1rem !important;
        margin-top: 1rem;
      }
    }
    // next-page
    .swiper-button-next {
      position: absolute;
      top: 90%;
      left: 50%;
    }
  }


}
