
#swiper {
  width: 100%;
  height: 100%;
  margin: 0  auto;
  // pages
  .swiper-container {
    height: 100%;
    width: 100%;

    .swiper-wrapper {
      transition-timing-function: ease-in !important;

      .swiper-slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .swiper-slide1 {
        background-color: #fafafa;

        .first{
          color: #fafafa;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          margin: 0 auto;
          display: block;

          .el-container{
            height: 100%;
            // margin: 0 auto;
            .header {
              width: 100%;
              padding: 0;
              height: 3.5rem !important; // 修复elementUIheader组件默认的60px
              background-color: rgba(0, 0, 0, 0.7);
              display: inline-block;

              .header-top {
                width: 100%;
                height: 3.5rem;

                .header-main {

                  // nav and console
                  .header-item {
                    display: flex;

                    // header-nav and header-tools
                    .header-nav,
                    .header-tools {
                      ul.el-menu {
                        height: 3.5rem;
                        border: 0;

                        li.el-menu-item {
                          height: 3.5rem;
                          font-size: 1rem;
                          font-weight: bolder
                        }

                        .el-menu-item:hover {
                          background-color: rgba(255, 255, 255, 0) !important;
                        }

                      }
                    }
                  }

                  // logo - container
                  .logo-container {
                    align-items: center;
                    justify-content: flex-end;

                    .header-logo {
                      height: 3.5rem;
                      float: left;
                      width: 12.5rem;
                      line-height: 3.5rem;

                      img {
                        width: 10rem;
                        height: auto;
                      }

                      height: 3.5rem;
                    }

                  }
                  // nav-container
                  .nav-container {
                    // justify-content: center;
                    align-content: center;
                    .nav-icon {
                      line-height: 3.5rem;
                    }
                  }

                  // console-contaier
                  .console-container {
                    justify-content: center;
                    align-content: center;

                    .console-icon {
                      line-height: 3.5rem;
                    }

                    // header-nav
                    .header-nav {
                      float: left;
                      height: 3.5rem;
                      width: auto;
                    }

                    // header-tools
                    .header-tools {
                      width: auto;
                      justify-content: flex-end;

                      // 去掉elementUI默认的下滑条
                      ul.el-menu--horizontal>.el-menu-item.is-active {
                        border: 0;
                      }

                      ul.el-menu--horizontal>.el-menu-item {
                        border: 0;
                      }

                      // 注册按钮style
                      ul.el-menu--horizontal {
                        &> :last-child {
                          a {
                            display: inline-block;
                            width: 3rem;
                            height: 2rem;
                            line-height: 2rem;
                            border: 1px solid white;
                            border-radius: 0.5rem;
                          }
                        }
                      }

                    }

                  }

                }
              }
            }
          }

          // content
          .content{
            display: block;
            padding: 0;
            width: 100%;
            height: 100%;

            .content-container {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              .content-title {
                height: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                  display: inline-block;
                  font-size: 7.5em;
                }
              }

            }
          }
        }
      }

      // // solution
      .swiper-slide2 {
        background-color: #fafafa;
        width: 100%;
        height: 100%;
      }

      // footer
      .swiper-footer {
        background-color: darkgoldenrod;

        .el-container {
          height: 100%;
          .el-main {
            height: calc(100% - 5rem);
            background-color: lemonchiffon;

          }

          .el-footer {
            height: 5rem;
            background-color: sienna;
          }
        }
      }
    }

    // swiper 小圆点定位
    .swiper-pagination {
      width: 1rem;
      height: auto;
      display: block;
      position: absolute;
      right: 1rem;

      & > :nth-child(n) {
        border: 1px solid rgba(255, 255, 255, 1);
        width: 1rem !important;
        height: 1rem !important;
        margin-top: 1rem;
      }
    }
    // next-page
    .swiper-button-next {
      position: absolute;
      top: 90%;
      left: 50%;
    }
  }


}
