@charset "utf-8";
// @import './media.scss';

html, body {
  height: 100%;
}
html{
  font-size: 14px;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'PingFangSC',
  'helvetica neue',
  'hiragino sans gb',
  'arial',
  'microsoft yahei ui',
  'microsoft yahei',
  'simsun',
  'sans-serif' !important;
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre {
  margin: 0;
  padding: 0;
}

table,
td,
tr,
th {
  font-size: 12px;
}

ol,
ul {
  list-style: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-size: inherit;
  font-weight: normal;
}

img,
object,
input,
textarea,
button,
select {
  vertical-align: middle
}

article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block
}

input,
textarea,
button,
select,
a {
  outline: 0 none;
  border: none;
}

html {
  overflow-x: hidden;
  height: 100%;
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  // line-height: 1;
  -webkit-text-size-adjust: none;
}

a {
  color: gray;
  text-decoration: none;
}

a:link {
  color: #fafafa;
}
a:visited {
  color:#191970;
}

a:hover {
  color: #4169E1;
}

a:active {
}

// element- nav
.el-menu {
  .el-menu-item {
    padding: 0 1rem !important;
  }
}
// 解决方案中的ul
.solution-content-container {
  .el-carousel {
    .el-carousel__indicators {
      display: none !important;
    }
  }
}


@media (max-width: 767px) {
  .header-logo {
    img {
      width: 6rem !important;
    }
  }
  .content-title {
    span {
      font-size: 4rem !important;
    }
  }

  .header-nav,
  .header-tools {
    ul.el-menu {
      li.el-menu-item {
        font-size: 0.65rem !important;
        font-weight: bolder
      }

      .el-menu-item:hover {
        background-color: rgba(255, 255, 255, 0) !important;
      }
    }

  }
}

@media (max-width: 991px) {
  .content-title {
    span {
      font-size: 5.5rem !important;
    }
  }

  // nav
  .nav-container {
    transition: all 0.5s;

    &:hover {
      .header-nav {
        transform: translateY(100%) translateX(-50%);
      }

    }

    .header-nav {
      // width: 6rem;
      transition: all 0.5s;
      position: absolute;
      transform: translateY(-2rem) translateX(-50%);
      z-index: 1;

      .el-menu--horizontal>.el-menu-item {
        float: none;
      }
    }

    .nav-icon {
      display: block !important;
    }

  }
}

@media (min-width:768px) and (max-width: 991px) {
  .header-logo {
    img {
      width: 6rem !important;
    }
  }

  .content-title {
    span {
      font-size: 5rem !important;
    }
  }

}
@media (min-width:992px) and (max-width: 1200px) {
  .header-logo {
    img {
      width: 7rem !important;
    }
  }

  .content-title {
    span {
      font-size: 5.5rem !important;
    }
  }

}


